In [6]:
import pandas as pd

# Load the dataset from the CSV file
df = pd.read_csv('final_food_delivery_dataset.csv')


# 1. Total orders by Gold members
gold_orders = df[df['membership'] == 'Gold']
total_gold_orders = gold_orders.shape[0]

# 2. Total revenue from Hyderabad (rounded to integer)
hyderabad_revenue = round(
    df[df['city'] == 'Hyderabad']['total_amount'].sum()
)

# 3. Distinct users with at least one order
distinct_users = df['user_id'].nunique()

# 4. Average order value for Gold members (2 decimals)
avg_gold_order_value = round(
    gold_orders['total_amount'].mean(), 2
)

# 5. Orders from restaurants with rating \u2265 4.5
high_rating_orders = df[df['rating'] >= 4.5].shape[0]

# 6. Orders in the top revenue city among Gold members only
top_city = (
    gold_orders
    .groupby('city')['total_amount']
    .sum()
    .idxmax()
)

orders_in_top_city = gold_orders[gold_orders['city'] == top_city].shape[0]

print('1. Total orders by Gold members:', total_gold_orders)
print('2. Total Hyderabad revenue:', hyderabad_revenue)
print('3. Distinct users:', distinct_users)
print('4. Avg order value (Gold):', avg_gold_order_value)
print('5. Orders with rating \u2265 4.5:', high_rating_orders)
print('6. Top revenue city (Gold):', top_city)
print('   Orders in that city:', orders_in_top_city)

1. Total orders by Gold members: 4987
2. Total Hyderabad revenue: 1889367
3. Distinct users: 2883
4. Avg order value (Gold): 797.15
5. Orders with rating â‰¥ 4.5: 3374
6. Top revenue city (Gold): Chennai
   Orders in that city: 1337

In [9]:
# Filter for Gold members (assuming 'gold_orders' DataFrame is already available from previous cells)
# If not, it would be created as: gold_orders = df[df['membership'] == 'Gold']

# Group gold_orders by city and calculate the mean of 'total_amount'
avg_order_value_gold_members_by_city = gold_orders.groupby('city')['total_amount'].mean()

# Find the city with the highest average order value
highest_avg_order_city_gold = avg_order_value_gold_members_by_city.idxmax()
highest_avg_order_value_gold = avg_order_value_gold_members_by_city.max()

print("Average Order Value for Gold Members by City:")
print(avg_order_value_gold_members_by_city)
print(f"\nAmong Gold members, the city with the highest average order value is: {highest_avg_order_city_gold} (Average: {highest_avg_order_value_gold:.2f})")

Average Order Value for Gold Members by City:
city
Bangalore    793.223756
Chennai      808.459080
Hyderabad    806.421034
Pune         781.162243
Name: total_amount, dtype: float64

Among Gold members, the city with the highest average order value is: Chennai (Average: 808.46)

In [11]:
# Calculate the total number of orders
total_orders = df.shape[0]

# Calculate the percentage of orders by Gold members
percentage_gold_orders = round((total_gold_orders / total_orders) * 100)

print(f"Total orders by Gold members: {total_gold_orders}")
print(f"Total orders: {total_orders}")
print(f"Percentage of total orders placed by Gold members: {percentage_gold_orders}%")

Total orders by Gold members: 4987
Total orders: 10000
Percentage of total orders placed by Gold members: 50%